

@media screen and (max-width: 500px) {
    .container{
        height: 100vh;

    }
    .main{
         font-family: 'Roboto', sans-serif;
         padding-top: 40%;
         font-size: 1.3rem;
         margin: 0px 25px;
         text-align: center;
         color: #030116;
    }
    
    .logos{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 40vh;
    }
    }


    @media screen and (max-width: 768px) {
        .container{
            height: 100vh;
    
        }
        .main{
             font-family: 'Roboto', sans-serif;
             padding-top: 40%;
             font-size: 1.3rem;
             margin: 0rem 3rem;
             text-align: center;
             color: #030116;
        }
        
        .logos{
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            height: 40vh;
            font-size: 5rem;
        }
        }


        @media screen and (min-width: 769px) {
        .container{
            height: 100vh;
        }
        .main{
             font-family: 'Roboto', sans-serif;
             padding-top: 15%;
             font-size: 1.3rem;
             margin: 0rem 3rem;
             text-align: center;
             color: #030116;
        }
        
        .logos{
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            height: 40vh;
            font-size: 5rem;
        }
        }
    
