
        .projects{
            height: 100%;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            margin-top: 1.3rem;
        }

        .projects img{
            margin: 1rem;
        }